.bg-white {
  background-color: #fff !important
}

.zi-99 {
  z-index: 99
}

.no-shadow {
  box-shadow: none !important
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-17.5px / 2);
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  margin-bottom: calc(17.5px / 1.5);
  padding: 0 calc(17.5px / 2);
}

.notif {
	background-color: var(--red);
	color: #fff;
	margin-right: 5px;
	display: inline-table;
	font-size: 8.75px;
	font-weight: 400;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	border-radius: 50%
}

.w-90 {
  width: 90%
}

.w-100 {
	width: 100%;
}

.weight-4 {
	font-weight: 400;
}

.weight-5 {
	font-weight: 500
}

.weight-6 {
	font-weight: 600
}

.container {
	width: 100%;
	height: 100%;
  	padding-right: calc(1.5rem / 2);
  	padding-left: calc(1.5rem / 2);
  	margin-right: auto;
  	margin-left: auto;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
}

.container-section {
	align-items: unset;
    justify-content: center;
}

.flex {
	display: flex;
}

.aic {
	align-items: center;
}

.jc-center {
	justify-content: center
}

.jc-between {
	justify-content: space-between;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.p-0 {
  padding: 0 !important
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important
}

.mt-5 {
	margin-top: 5px;
}

.mt-10 {
	margin-top: 10px
}

.mt-17p5 {
	margin-top: 17.5px;
}

.mb-0 {
  margin-bottom: 0
}

.mb-17p5 {
	margin-bottom: 17.5px
}

.mx-auto {
	margin: 0 auto;
}

.ml-7p5 {
	margin-left: 7.5px;
}

.ml-auto {
	margin-left: auto;
}

.mr-0 {
	margin-right: 0
}

.mr-7p5 {
	margin-right: 7.5px; 
}

.mr-10 {
	margin-right: 10px
}

.o-ellipsis {
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.o-hide {
	overflow: hidden
}

.divider-x {
	border-top: 1px solid #dbdbdb;
	width: 100%;
}

.divider-y {
	border-right: 1px solid #dbdbdb;
	height: calc(4.375rem - 2rem);
	width: 0;
}

.text-sm {
	color: #525252;
	font-size: 11.5px;
}

.fixed {
  position: fixed;
  width: inherit;
}

@media (min-width: 300px) {
  .sm-none_xl-flex {
    display: none;
  }

	.container-section {
		padding: 0
	}
}

@media (min-width: 576px) {
	.container {
	   max-width: 540px;
	}

	.col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
	.container {
	   max-width: 720px;	
	}

	 .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }

}

@media (min-width: 992px) {
	.container {
	   max-width: 800px;	
	}

	.col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .row > * {
    margin-bottom: 17.5px
  }

  .sm-none_xl-flex {
    display: flex;
  }

	.container {
	   max-width: 1140px;	
	}

	.col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1400px) {
	.col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }

  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }

  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }

  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}